inz_rev2.pdf
inz_rev3.pdf
inz.aux
inz.bbl
inz.bcf
inz.blg
inz.fdb_latexmk
inz.fls
inz.log
inz.pdf
inz.run.xml
inz.synctex.gz
inz.tdo
.idea/.gitignore
.idea/latex.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/extensions.json
.vscode/settings.json
.vscode/spellright.dict
